

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

        /* CSS HEX */
--black: #0a0908ff;
--night-bordeaux: #49111cff;
--white-smoke: #f2f4f3ff;
--dusty-taupe: #a9927dff;
--stone-brown: #5e503fff;
}

body{
    background-color: #2b2d42;
}

h1{
    background-color: #d90429;
    
    color: azure;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(00, 00, 00) ;
}

h2{
    background-color: #ef233c;
    color: #edf2f4;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

button{
    background-color: #ef233c;
    color: #edf2f4;
    border-radius: 5px;
    border: none;
    margin: 5px;
    text-align: center;
    padding: 15px 20px;
    border: unset;
    position: relative;
    font-weight: 1000;
    transition: all 250ms;
    overflow: hidden;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    
}

button:hover {
 background-color: #e24646;
 color: black;
 box-shadow: 0px 4px 10px var(--night-bordeaux);
    scale: 1.05;
}

output{
    padding: 5px;
    text-shadow: 2px 2px 3px #2b2d42;
    color: #e5e5e5;
    margin: 5px;
    border-radius: 5px;
}

div{
    background-color: #8d99ae;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px ; ;
}

div:hover{
    box-shadow: 0px 4px 10px var(--night-bordeaux);
    scale: 1.002;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
