

*{
    margin: 0;
    padding: 5;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

        /* CSS HEX */
--jet-black: #022b3aff;
--teal: #1f7a8cff;
--pale-sky: #bfdbf7ff;
--lavender: #e1e5f2ff;
--white: #ffffffff;
--alice-blue: #e3f2fdff;
--icy-blue: #bbdefbff;
--sky-blue: #90caf9ff;
--cool-sky: #64b5f6ff;
--cool-sky-2: #42a5f5ff;
--dodger-blue: #2196f3ff;
--brilliant-azure: #1e88e5ff;
--twitter-blue: #1976d2ff;
--ocean-deep: #1565c0ff;
--cobalt-blue: #0d47a1ff;
--background: #0d1321;
}

body{

    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240,6.7%,17.6%,1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='%230d47a1ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

h1{
    background-color: var(--cobalt-blue);
    color: azure;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(00, 00, 00) ;
    
}

h2{
    background-color: var(--cobalt-blue);
    color: #edf2f4;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    
    font-weight: 1000;
    transition: all 250ms;
    overflow: hidden;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}


button{
    background-color: var(--dodger-blue);
    color: #edf2f4;
    border-radius: 8px;
    border: none;
    margin: 3px;
    text-align: center;
    padding: 15px 20px;
    border: unset;
    position: relative;
    font-weight: 1000;
    transition: all 300ms;
    overflow: hidden;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    
}

button:hover {
 background-color: var(--brilliant-azure);
 color: var(--lavender);
 /* 67 */
 text-shadow: 0px 2px 10px var(--cool-sky);
 box-shadow: 0px 4px 10px var(--ocean-deep);
    scale: 1.05;
}

output{
    padding: 5px;
    text-shadow: 2px 2px 3px #2b2d42;
    color: #e5e5e5;
    margin: 5px;
    border-radius: 5px;
}

div{
    background-color: rgba(21, 101, 192, 0.8);
    width: 850px;
    border: 1px solid var(--background);
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    font-weight: 1000;
    transition: all 250ms;
    overflow: hidden;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}

div:hover{
    box-shadow: 0px 8px 25px var(--lavender);
    scale: 1.00;
    background-color: var(--twitter-blue);
    border: 1px solid var(--lavender);
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

