

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #0067c7;
}

h1{
    background-color: #14213d;
    
    color: azure;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(00, 00, 00) ;
}

h2{
    background-color: #fca311;
    color: #000000;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

button{
    background-color: #ffca3a;
    color: #000000;
    border-radius: 5px;
    border: none;
    margin: 5px;
    text-align: center;
    padding: 15px 20px;
    border: unset;
    position: relative;
    font-weight: 1000;
    transition: all 250ms;
    overflow: hidden;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    
}

output{
    padding: 5px;
    background-color: #003f88;
    color: #e5e5e5;
    margin: 5px;
    border-radius: 5px;
}

div{
    background-color: #003f88;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px ; ;
}